
 * { 
    outline: 1px solid red;
}

body { 
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.header { 
    background-color: #006400;
    color: white;
    font-style: italic;
    font-size: 20px;
    display: flex;
    flex: 0;
    justify-content: space-between;
    padding: 20px;
}

.header-tabs {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.sidetabs {
    padding: 0;
    font-size: 16px;
    font-style: normal;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.body {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mini-body1 {
    background-image: url("./images/clothes1.jpg");
    background-size: auto;
    filter: brightness(0.5) blur(3px);
    flex: 1;
    display: flex;
}

.mini-body2 {
    background-color:rgb(0, 116, 0);
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    background-color: rgb(0, 100, 0);
    color: white;
    padding: 32px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.4);
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    display: flex;
}

.image-style {
    width: 200px;
    height: 200px;
}


.mini-body3 {
    background-color: rgb(215, 215, 215);
    flex: 1;
    display: flex;
}



.footer {
    padding: 30px;
    flex: 0;
    display: flex;
    background: rgb(181, 181, 181);
}