
body { 
    margin: 0;
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.header { 
    background-color: #006400;
    color: white;
    font-style: italic;
    font-size: 20px;
    height: 100px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
    align-items: center;
}

.image-logo {
    width: 200px;
    height: 200px;
    display: flex;
    padding-left: 110px;
}

.header-tabs {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.sidetabs {
    padding: 0;
    font-size: 16px;
    font-style: normal;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

li { 
    display: flex; 
    outline: 1px dark green;
    background-color: rgb(0, 85, 0);
    border-radius: 5px;
    padding: 4px;
}

.body {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mini-body1 {
    background-color:rgb(0, 100, 0);
    padding: 50px;
    gap: 30px;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.body1-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.body1-title, .body1-description {
    color: white;
    display: flex;
}

.body1-title {
    font-weight: 1000;
    text-shadow: 2px 2px rgb(0, 0, 0, 0.4);
    font-size: 40px;
}

p { 
    padding: 0;
    margin: 0;
}

.signup {
    position: relative;
    width: 100px;
    padding: 10px;
    margin-left: 2px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(77, 155, 219);
    font-size: 14px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.signup:hover {
    background-color: rgb(58, 118, 168);
}

.signup:after {
    content: "";
    background: rgb(66, 135, 192);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.signup:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.body1-description {
    padding: 10px;
    margin: 0;
    gap: 10px;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(0, 85, 0);
    flex-wrap: wrap;
}

.body1-image { 
    border-radius: 20px;
    filter: drop-shadow(6px 10px rgb(0, 0, 0, 0.2));
    height: 400px;
    width: 400px;
}

.mini-body2 {
    background-color:rgb(0, 116, 0);
    flex: 1;
    padding: 50px;
    gap: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.body2-title {
    padding: 0;
    color: white;
    font-size: 48px;
    font-weight: 1000;
    font-style: italic;
    display: flex;
}

.container { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.info {
    background-color: rgb(0, 100, 0);
    color: white;
    padding: 25px;
    width: 250px;
    height: 310px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: 900;
    display: flex;
}

.image-style {
    width: 200px;
    height: 200px;
}

.mini-body3 {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container3 {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.brand-image {
    height: 400px;
    width: 450px;
    border-radius: 20px;
}

.brand, .menswear, .womenswear { 
    font-family: system-ui;
    font-size: 30px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
}

.image-button {
    border: none;
    background-color: white;
    position: relative;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.image-button:hover {
    filter: blur(2.5px);
}

.image-button:active {
    content: "";
    background: rgb(255, 255, 255);
    transform: translateY(4px);
}

.mini-body4 {
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.container4 {
    width: 1000px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(0, 100, 0);
    gap: 15px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textcontainer {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}
.title4 {
    font-weight: 1000;
    font-size: 32px;
}

.short4 { 
    font-size: 14px;
}

.sign-up {
    padding: 10px;
    width: 100px;
    border-radius: 12px;
    border: none;
    background-color: rgb(80, 173, 198);
    color: white;
    position: relative;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.sign-up:hover {
    background-color: rgb(93, 197, 225);
}

.sign-up:active {
    content: "";
    background: rgb(255, 255, 255);
    transform: translateY(4px);
}



.footer {
    padding: 30px;
    flex: 0;
    display: flex;
    background: rgb(47, 47, 47);
    justify-content: center;
}

.text {
    color: white;
    display: flex;
}